
@{
    ViewBag.Title = "Analyze";
}

<h2>Index</h2>

<div class="row">
    <div class="col-lg-6">
        <p>Domain</p>
        <p>Event Provider Type</p>
        <p>Event Provider</p>

        <p>List of Versions (version, date, command type)</p>

        <p>Other event providers with same id</p>
    </div>

    <div class="col-lg-pull-6">
        <p>Version info</p>
        <p>Command</p>
        <p>Object Graph</p>
    </div>
</div>