<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SqlEventStore" connectionString="data source=localhost;initial catalog=EventStore;integrated security=True;MultipleActiveResultSets=True;App=DotNetRevolution.Test.EventSourcing.Sql" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>