<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SqlEventStore" connectionString="data source=(localdb)\ProjectsV13;initial catalog=DotNetRevolution.EventSourcing.Database;integrated security=True;MultipleActiveResultSets=True;App=DotNetRevolution.Test.EventSourcing.Sql" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>